.layout {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--theme-color-grey-100);
}

.layout-header {
  background-color: var(--theme-color-secondary-500);
}

.layout-header-nav {
  margin: 0 2em;
}

.layout-header-nav-item {
  display: inline-block;
}

.layout-header-nav-link {
  display: inline-block;
  padding: 1em 2em;
  font-size: 0.9em;
  font-weight: var(--font-weight-heavy);
  color: var(--theme-color-secondary-100);
}
.layout-header-nav-link:hover,
.layout-header-nav-link:focus,
.layout-header-nav-link.--selected {
  background-color: var(--theme-color-secondary-600);
}
.layout-header-nav-link:active {
  background-color: var(--theme-color-secondary-700);
}

.layout-body {
  flex: 1;
  padding: 2em;
  overflow-y: auto;
}

.layout-section {
  padding: 1.5em;
  border-radius: 1.5em;
  background-color: var(--theme-color-bg);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
