.-row,
.-col {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-fixed-md);
  min-width: 0;
}

.-col {
  flex-direction: column;
  height: 100%;
}

.-row.--row-inline {
  display: inline-flex;
}

.-row.--row-dir-r {
  flex-direction: row-reverse;
}

.-row.--row-wrap {
  flex-wrap: wrap;
}

.-col.--col-dir-r {
  flex-direction: column-reverse;
}

.-row.--row-align-b,
.-col.--col-align-b {
  align-items: baseline;
}

.-row.--row-align-c,
.-col.--col-align-c {
  align-items: center;
}

.-row.--row-align-s,
.-col.--col-align-s {
  align-items: start;
}

.-row.--row-align-e,
.-col.--col-align-e {
  align-items: end;
}

.-row.--row-just-e,
.-col.--col-just-e {
  justify-content: end;
}

.-row.--row-just-c,
.-col.--col-just-c {
  justify-content: center;
}

/* Gap spacing */
.-row.--row-gap-n,
.-col.--col-gap-n {
  gap: 0;
}

.-row.--row-gap-xs,
.-col.--col-gap-xs {
  gap: var(--spacing-fixed-xs);
}

.-row.--row-gap-sm,
.-col.--col-gap-sm {
  gap: var(--spacing-fixed-sm);
}

.-row.--row-gap-lg,
.-col.--col-gap-lg {
  gap: var(--spacing-fixed-lg);
}

.-row.--row-gap-xl,
.-col.--col-gap-xl {
  gap: var(--spacing-fixed-xl);
}

.-row.--row-gap-x-xs,
.-col.--col-gap-x-xs {
  column-gap: var(--spacing-fixed-xs);
}

.-row.--row-gap-x-sm,
.-col.--col-gap-x-sm {
  column-gap: var(--spacing-fixed-sm);
}

.-row.--row-gap-x-lg,
.-col.--col-gap-x-lg {
  column-gap: var(--spacing-fixed-lg);
}

.-row.--row-gap-x-xl,
.-col.--col-gap-x-xl {
  column-gap: var(--spacing-fixed-xl);
}

.-row.--row-gap-y-xs,
.-col.--col-gap-y-xs {
  row-gap: var(--spacing-fixed-xs);
}

.-row.--row-gap-y-sm,
.-col.--col-gap-y-sm {
  row-gap: var(--spacing-fixed-sm);
}

.-row.--row-gap-y-lg,
.-col.--col-gap-y-lg {
  row-gap: var(--spacing-fixed-lg);
}

.-row.--row-gap-y-xl,
.-col.--col-gap-y-xl {
  row-gap: var(--spacing-fixed-xl);
}

.-grow {
  flex: 1;
  min-height: 0;
  min-width: 0;
}
