/* Misc */
.-rel {
  position: relative;
}

.-abs {
  position: absolute;
}

.-h-full {
  height: 100%;
}

.-w-full {
  width: 100%;
}

/* Alignment */
.-align.--center { text-align: center; }
.-align.--end { text-align: end; }
.-align.--start { text-align: start; }
.-align.--middle { vertical-align: middle; }

/* Scrolling */
.-scroll-none { overflow: hidden; }
.-scroll-x { overflow-x: auto; }
.-scroll-y { overflow-y: auto; }

/* Borders */
.-b {
  --border-width: 1px;
  border: var(--border-width) solid var(--theme-color-border);
}

.-b.--b-lg { --border-width: 2px; }
.-b.--b-xl { --border-width: 4px; }

.-b.--b-top {
  border-width: var(--border-width) 0 0 0;
}
.-b.--b-end {
  border-top-width: 0;
  border-inline-end-width: var(--border-width);
  border-bottom-width: 0;
  border-inline-start-width: 0;
}
.-b.--b-bottom {
  border-width: 0 0 var(--border-width);
}
.-b.--b-start {
  border-top-width: 0;
  border-inline-end-width: 0;
  border-bottom-width: 0;
  border-inline-start-width: var(--border-width);
}

.-b.--b-follow:first-child {
  border-top: 0;
}

.-b.--b-none {
  border: 0;
}

/* Rounded corners */
.-rd { border-radius: var(--border-radius-md); }
.-rd.--rd-sm { border-radius: var(--border-radius-sm); }
.-rd.--rd-lg { border-radius: var(--border-radius-lg); }
.-rd.--rd-xl { border-radius: var(--border-radius-xl); }

/* Shadows */
.-sh { box-shadow: var(--shadow-md); }
.-sh.--sh-sm { box-shadow: var(--shadow-sm); }
.-sh.--sh-lg { box-shadow: var(--shadow-lg); }

/* Backgrounds */
.-bg {
  background-color: var(--theme-color-bg);
}
.-bg.--secondary,
.-bg-2 {
  background-color: var(--theme-color-bg-secondary);
}
.-bg.--tertiary,
.-bg-3 {
  background-color: var(--theme-color-bg-tertiary);
}
