.tag {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1ch;
  padding: 0 1em;
  height: 2em;
  min-width: calc(1ch + 1.2em);
  overflow: hidden;
  white-space: nowrap;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  border-radius: 1em;
  background-color: var(--theme-color-grey-200);
  color: var(--theme-color-grey-600);
}

.tag > span {
  font-size: 0.8em;
}

.tag > .icon {
  line-height: 1px;
}

.tag > svg {
  width: 1.1em;
}

/* Sizes */
.tag.--sm {
  padding-inline: 0.8em;
  height: 1.75em;
  font-size: var(--font-size-sm);
}

.tag.--lg {
  padding-inline: 1.25em;
  font-size: var(--font-size-lg);
}

/* Shapes */
.tag.--pill {
  border-radius: 1em;
}

.tag.--rectangle {
  border-radius: var(--border-radius-md);
}
.tag.--round {
  padding-inline: 0.8em;
  border-radius: 50%;
  min-width: calc(1ch + 0.5em);
}

/* Styles */
.tag.--primary {
  background-color: var(--theme-color-primary);
  color: var(--theme-color-primary-fg);
}

.tag.--notify {
  background-color: var(--theme-color-warning);
  color: var(--theme-color-warning-fg);
}

.tag.--danger {
  background-color: var(--theme-color-danger);
  color: var(--theme-color-danger-fg);
}

.tag.--alpha {
  background-color: var(--theme-color-tertiary-alpha-200);
  color: var(--theme-color-tertiary-alpha-700);
}

.tag.--beta {
  background-color: var(--theme-color-tertiary-beta-200);
  color: var(--theme-color-tertiary-beta-700);
}

.tag.--gamma {
  background-color: var(--theme-color-tertiary-gamma-200);
  color: var(--theme-color-tertiary-gamma-700);
}

.tag.--delta {
  background-color: var(--theme-color-tertiary-delta-200);
  color: var(--theme-color-tertiary-delta-700);
}

.tag.--epsilon {
  background-color: var(--theme-color-tertiary-epsilon-200);
  color: var(--theme-color-tertiary-epsilon-700);
}

.tag.--zeta {
  background-color: var(--theme-color-tertiary-zeta-200);
  color: var(--theme-color-tertiary-zeta-700);
}

.tag.--eta {
  background-color: var(--theme-color-tertiary-eta-200);
  color: var(--theme-color-tertiary-eta-700);
}

.tag.--grey {
  background-color: var(--theme-color-grey-200);
    color: var(--theme-color-grey-700);
}
