a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.heading-1 { font-size: var(--font-size-fixed-xxl); }
.heading-2 { font-size: var(--font-size-fixed-xl); }
.heading-3 { font-size: var(--font-size-fixed-lg); }
.heading-4 { font-size: var(--font-size-fixed-md); }
.heading-5 { font-size: var(--font-size-fixed-sm); }
.heading-6 { font-size: var(--font-size-fixed-xs); }

.-text-sm { font-size: var(--font-size-sm); }
.-text-md { font-size: var(--font-size-md); }
.-text-lg { font-size: var(--font-size-lg); }
.-text-xl { font-size: var(--font-size-xl); }
.-text-xxl { font-size: var(--font-size-xxl); }

.-muted {
  color: var(--theme-color-fg-muted);
}

.-link {
  color: var(--theme-color-link);
  text-decoration: underline;
  cursor: pointer;
}
.-link:hover,
.-link:focus {
  color: var(--theme-color-link-hover);
  text-decoration: none;
}
.-link:active {
  color: var(--theme-color-link-active);
}

.-link.--muted {
  color: var(--theme-color-link-muted);
}
.-link.--muted:hover,
.-link.--muted:focus {
  color: var(--theme-color-link-muted-hover);
}
.-link.--muted:active {
  color: var(--theme-color-link-muted-active);
}

.-code {
  padding: 0.1em 0.33em;
  font-size: var(--font-size-sm);
  font-family: var(--font-family-mono);
  border-radius: var(--border-radius-md);
  background-color: var(--theme-color-grey-200);
  color: var(--theme-color-grey-800);
}

.-copy, .-p {
  line-height: 1.6;
}

.-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
