:root {
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;

  --theme-color-bg: #f0f0f0;

  --theme-color-grey-100: #dadede;
  --theme-color-grey-200: #b5bdbd;
  --theme-color-grey-300: #919b9b;
  --theme-color-grey-400: #6d7979;
  --theme-color-grey-500: #4c5454;
  --theme-color-grey-600: #393f3f;
  --theme-color-grey-700: #262a2a;
  --theme-color-grey-800: #131515;

  --theme-color-primary-100: #eef1e0;
  --theme-color-primary-200: #dde4c2;
  --theme-color-primary-300: #ccd6a3;
  --theme-color-primary-400: #bbc985;
  --theme-color-primary-500: #aabb66;
  --theme-color-primary-600: #859643;
  --theme-color-primary-700: #59642c;
  --theme-color-primary-800: #2c3216;
  --theme-color-primary: var(--theme-color-primary-500);

  --theme-color-secondary-100: #d7dfe5;
  --theme-color-secondary-200: #afc0cc;
  --theme-color-secondary-300: #87a0b2;
  --theme-color-secondary-400: #67879e;
  --theme-color-secondary-500: #526c7f;
  --theme-color-secondary-600: #3d515f;
  --theme-color-secondary-700: #293640;
  --theme-color-secondary-800: #141b20;
  --theme-color-secondary: var(--theme-color-secondary-400);
  
  --theme-color-danger-100: #f7d6d1;
  --theme-color-danger-200: #eeaea3;
  --theme-color-danger-300: #e68576;
  --theme-color-danger-400: #dd5d48;
  --theme-color-danger-500: #ca3c25;
  --theme-color-danger-600: #972d1c;
  --theme-color-danger-700: #651e13;
  --theme-color-danger-800: #330f09;
  --theme-color-danger: var(--theme-color-danger-500);
}
